[Desktop Entry]
Name=xzgv viewer
Name[pl]=Przeg±larka xzgv
Comment=Image viewer with thumbnails
Comment[pl]=Przegl±darka obrazków z obs³ug± thumbnaili
Icon=gnome-eyes.png
Exec=xzgv
Terminal=0
Type=Application

