[Desktop Entry]
Name=Xzgv viewer
Name[pl]=Przeglądarka xzgv
Comment=Image viewer with thumbnails
Comment[pl]=Przeglądarka obrazków z obsługą miniatur
Icon=xzgv
Exec=xzgv
Terminal=false
Type=Application
Categories=GTK;Graphics;Viewer;
# vi: encoding=utf-8
